/* Navigation Section */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-family: 'Roboto', sans-serif;
}

.content {
    margin: 0 auto;
    min-width: 37.5rem;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}


.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
   
}
.top-navigation > .content {
    width: 970px;
    height: 4em;
    margin: 0 auto;
    padding: 0 3em;
   
}
.links{ 
	float: right;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.links li {
    display: inline-block;
    margin-left: 1.7em;
    cursor:pointer;
    transition: color 0.3s ease;
    color: #838994;
}

.links li:hover{
  color: #4c5058;
  
}
.links li.active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .logo {
    height: 4.375em;
}


.introduction{
	background-image: url(../images/back_photo.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45em;
    overflow: auto;
}
.introduction >.content {
   color:#fff; 
   text-align: center;
   letter-spacing: 0.2em;
   
  
}

.introduction >.content h1{
	margin-top: 17.5rem;
    font-size: 3.125rem;
    font-size: 3.125rem;
   

}

.introduction >.content h1,.introduction >.content h3{
	color: white;
    text-align: center;
    font-weight: 300;
}


.introduction >.content >.btn{
	width: 170px;
	height:60px;
	background-color: #f15a29;
    border-color: #f15a29;
	border-radius:0.6em;
	padding: 16px 26px;
    line-height: 1.33;
	
}

.introduction >.content >.btn:hover{
	background-color: #D44507;
}

 .services{
 	margin-top: 7.5em;
 }

 
 .services .devices_box{
 	width: 900px;
 	margin: 0 auto;
 	
 }

 .services .devices {
    display: inline-block;
    text-align: center;
    margin: 0 2em;

}




.services h1{
	text-align: center;
	font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

.services h3{
	font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}

.social{
	margin:7em auto;
}

.social .content{
	border-top:1px solid #eaebec;
	padding:0 5em;
	padding-bottom: 5em;
	text-align: center;
	width: 55em;
	
}

.social .icons{
	list-style: none;
	width: 20em;
	margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

.icons li{
	border: 1px solid #eaebec;
	border-radius: 1.25em;
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    margin: 1.25em 5px;
    padding: 0.625em 0;
    text-align: center;

}

.icons li:hover{
	cursor: pointer;
}
.social .fa-twitter{
	color: #55acee;

}

.social .fa-facebook{
	color:#4c66a4;
}

.social .fa-instagram{
	color:#3f729b;
}

.social .copyr{
	font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}

